## pandas basic assignment

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

The output shows the index of each element of the series, which is automatically assigned by default.

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [1]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

ANSWER:3 IS TABLE FORM SO IM WRITING DIRECT ANSWER.

In [2]:
import pandas as pd

In [3]:
data={ 
    "name":["Alice","bob","claire"],"Age":[25,30,27],"Gender":["female","male","female"]}

In [4]:
df=pd.DataFrame(data)

In [5]:
print(df)

     name  Age  Gender
0   Alice   25  female
1     bob   30    male
2  claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure that consists of rows and columns. It is similar to a spreadsheet or a SQL table. A DataFrame can contain multiple columns, each of which can have a different data type. DataFrame is one of the most commonly used data structures in Pandas.

On the other hand, a Series is a one-dimensional labeled data structure in Pandas. It is similar to a single column in a spreadsheet or a SQL table. A Series contains a single data type and can be thought of as a labeled array.

Here's an example that illustrates the difference between DataFrame and Series. Let's consider a dataset that contains information about some cars, including their make, model, year of manufacture, and fuel economy:

In [ ]:
make      model     year    mpg
Toyota    Camry     2020    34
Honda     Civic     2019    36
Ford      Mustang   2021    25
Tesla     Model 3   2022    134

In [7]:
import pandas as pd

data = {
    'make': ['Toyota', 'Honda', 'Ford', 'Tesla'],
    'model': ['Camry', 'Civic', 'Mustang', 'Model 3'],
    'year': [2020, 2019, 2021, 2022],
    'mpg': [34, 36, 25, 134]
}

df = pd.DataFrame(data)
print(df)

     make    model  year  mpg
0  Toyota    Camry  2020   34
1   Honda    Civic  2019   36
2    Ford  Mustang  2021   25
3   Tesla  Model 3  2022  134

In this example, we have created a DataFrame named df that has four columns: make, model, year, and mpg. Each column is a Series. We can access a specific column by its name, for example, df['make'], which will return the Series of make values:

In [ ]:
0    Toyota
1     Honda
2      Ford
3     Tesla
Name: make, dtype: object

We can also access a specific row using the .loc or .iloc attribute. For example, df.loc[0] will return the first row of the DataFrame:

In [ ]:
make     Toyota
model     Camry
year       2020
mpg          34
Name: 0, dtype: object

In summary, a DataFrame is a two-dimensional data structure that can contain multiple columns, while a Series is a one-dimensional data structure that represents a single column.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of functions for manipulating data in a DataFrame. Some of the common functions are:

head() and tail(): These functions are used to retrieve the first or last n rows of a DataFrame, respectively. For example, df.head() will return the first 5 rows of the DataFrame df.

describe(): This function is used to generate descriptive statistics for a DataFrame, including the count, mean, standard deviation, minimum and maximum values, and quartiles. For example, df.describe() will return a summary of the statistics for all the numerical columns in the DataFrame df.

drop(): This function is used to remove rows or columns from a DataFrame. For example, df.drop('column_name', axis=1) will drop the column named 'column_name' from the DataFrame df.

groupby(): This function is used to group rows in a DataFrame based on one or more columns and apply an aggregation function to each group. For example, df.groupby('column_name').mean() will group the rows in df based on the values in the column named 'column_name', and compute the mean of the numerical columns for each group.

sort_values(): This function is used to sort a DataFrame based on one or more columns. For example, df.sort_values('column_name', ascending=False) will sort the rows in df based on the values in the column named 'column_name' in descending order.

fillna(): This function is used to fill missing values in a DataFrame. For example, df.fillna(0) will replace all missing values in df with 0.

merge(): This function is used to combine two or more DataFrames based on a common column. For example, pd.merge(df1, df2, on='column_name') will merge df1 and df2 based on the values in the column named 'column_name'.

These are just a few of the common functions provided by Pandas for manipulating data in a DataFrame. The choice of which function to use depends on the specific task at hand. For example, if we have a DataFrame containing sales data for different regions, we might use the groupby() function to group the sales by region and compute the total sales for each region.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, Series and DataFrame are mutable in nature, while Panel is considered deprecated and is not recommended to use anymore.

A Series can be modified using the indexing notation, for example, s['key'] = value. Similarly, a DataFrame can be modified using the same indexing notation for columns and rows, for example, df['new_column'] = values or df.loc[row_index, 'column_name'] = new_value.

However, it's important to note that some operations on a DataFrame or a Series return a new object instead of modifying the original one. For instance, the drop() method returns a new DataFrame with the specified rows or columns removed, rather than modifying the original DataFrame in place.